* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#father {
    position: absolute;
    width: 1200px;
    left: 1400px;
}

body {
    width: 1200px;
    margin: auto;
}

.title {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}

.title h1 {
    margin-top: 50px;
    font-size: 50px;
}

.title h3 {
    font-weight: 400;
    color: #ccc;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.main {
    background-color: aliceblue;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.main .da-tu {
    width: 100%;
    height: 510px;
    overflow: hidden;
}

.main .da-tu img {
    width: 100%;
    margin-top: -370px;
}

.name {
    height: 170px;
    text-align: center;
    color: #333;
    background-color: #fff;
    padding-top: 60px;
}

.name p {
    font-size: 27px;
    font-weight: 800;
}

.name div {
    color: #ddd;
    height: 35px;
}

.name span {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
}

.neirong {
    padding: 68px 88px;
    background-color: rgba(255, 255, 255, .6);
}

.neirong p {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font: inherit;
    vertical-align: baseline;
}

.si-tu {
    background-color: rgb(30, 31, 35);
    padding: 88px;
    height: 344px;
}

.si-tu .nei {
    height: 300px;
    background: rgb(18, 19, 21);
    padding-top: 44px;
}

.si-tu p {
    color: #fff;
}

.si-tu span {
    display: block;
}

.si-tu img {
    margin-top: 55px;
}

.main-intro {
    height: 414px;
}

.main-intro div {
    float: left;
}

.main-intro img {
    width: 600px;
    height: 410px;
}

.main-intro .right {
    width: 600px;
    box-sizing: border-box;
    padding: 120px 100px;
    height: 410px;
    background-color: rgba(255, 255, 255, .6);
}

.main-intro .right p {
    font-size: 1.35rem;
    font-weight: 600;
    height: 50px;
}

.main-intro .right span {
    color: rgba(0, 0, 0, 0.5);
    font: inherit;
    vertical-align: baseline;
}


/* 页脚 */

#floor {
    margin-top: 120px;
    width: 100%;
    height: 270px;
    color: white;
}

#floor h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    height: 60px;
}

#floor>p {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    opacity: 0.7;
}


/* 页脚的icon图标 */

#floor_icon {
    width: 260px;
    height: 60px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    border: none;
}

#floor_icon>.iconfont {
    font-size: 50px;
    cursor: pointer;
    opacity: 0.2;
    margin-left: 5px;
}

#floor_icon>.iconfont:hover {
    opacity: 1;
}


/* 页脚返回上一级 */

#floor_home {
    position: absolute;
    right: 2%;
    width: 80px;
    height: 40px;
    bottom: 10%;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}


/* 页脚返回首页 */

#floor_return {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 80px;
    height: 40px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}